// compress: true
@import "vars";

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: @black;
    border-radius: 8px;
    border: 3px solid @black;
}

::-webkit-scrollbar-track {
    box-shadow: 0 0 0.2px rgb(0 0 0 / 20%) inset;
    background: @white;
}

html{
    font-size: 15px;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1 rem;
    color: @black;

    &.no-scroll{
        overflow: hidden;
    }
}

p{
    margin: 0 0 1rem;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

*,
*:after,
*:before{
    box-sizing: border-box;
}

/* Vendor */
@import "vendor/slick";

/* Block */
@import "blocks/container";
@import "blocks/header";
@import "blocks/user";
@import "blocks/nav";
@import "blocks/intro";
@import "blocks/social";
@import "blocks/btn";
@import "blocks/works";
@import "blocks/portfolio";
@import "blocks/about";
@import "blocks/reviews";
@import "blocks/news";
@import "blocks/articles";
@import "blocks/footer";
@import "blocks/modal";
@import "blocks/modal-work";
@import "blocks/timeline";
@import "blocks/progress-bar";
@import "blocks/contact";
@import "blocks/label";
@import "blocks/input";
@import "blocks/form";
@import "blocks/textarea";
@import "blocks/burger";

/* Helpers */
@import "helpers";