// main: ../style.less

.footer{
    background-color: @black;
    padding: 1rem 0;
}

.footer__credits{
    display: flex;
    align-items: center;

    @media @tablet{
        width: 100%;
        justify-content: center;
        margin-bottom: 1rem;
    }

    @media @mobile-sm {
        flex-direction: column;
    }
}

.footer__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__social-link{
    padding: 0 .1rem;
    font-size: 1.5rem;
    color: #BBBBCC;
    text-decoration: none;
    transition: color .2s linear;

    &-V{
        &:hover{
            color: #0077ff;
        }
    }
    &-F{
        &:hover{
            color: #1877f2;
        }
    }
    &-TW{
        &:hover{
            color: #1da1f2;
        }
    }
    &-I{
        &:hover{
            color: #912cb3;
        }
    }
    &-Y{
        &:hover{
            color: #ff0000;
        }
    }
    &-TL{
        &:hover{
            color: #2fa0d1;
        }
    }

    a{
        @media @tablet{
            margin: 0 .5rem;
        }
    }
}

.footer__copyright{
    padding-right: .8rem;
    margin-right: 1rem;
    color: #BBBBCC;
    font-size: .94rem;
    border-right: 1px solid fade(@grey, 35%);

    @media @mobile-sm {
        margin-right: 0;
        margin-bottom: 1rem;
        border-right: 0;
    }
}

.footer__nav{
    display: flex;
    align-items: center;
    font-size: .94rem;

    @media @tablet{
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.footer__nav-link{
    margin-left: 1.5rem;
    color: #BBBBCC;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }

    &--btn{
        margin: 0 2rem;
        color: #BBBBCC;
        padding: .6rem 1.4rem;
        border-radius: 20px;
        border: 1px solid @grey-light;
        transition: color .2s linear, background-color .2s linear, border-color .2s linear;
        text-decoration: none;

        &:hover{
            background-color: @white;
            border-color: @white;
            color: @black;
        }
    }

    @media @tablet{
        margin: 0 .5rem .5rem;
    }
}