// main: ../style.less

.news{
    margin-top: 14rem;
    margin-bottom: 5rem;
}

.news__header{
    margin-bottom: 3.6rem;
    text-align: center;
}

.news__title{
    margin-bottom: 0.3rem;
    font-size: 3rem;
    color: @black;
    text-transform: uppercase;
    font-weight: 700;
}

.news__text{
    font-size: 1.2rem;
    color: @grey-light;
    font-weight: 300;
}

.news__footer{
    margin-top: 5rem;
    text-align: center;
}

.news__link{
    font-family: inherit;
    font-weight: 700;
    line-height: 1.1;
    font-size: 1.06rem;
    color: @black;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    &:hover{
        text-decoration: underline;
    }
}